<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CookiesManagement</display-name>
  <servlet>
 		<servlet-name>FirstServ</servlet-name>
 		<servlet-class>com.Project10.CookiesManage</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>FirstServ</servlet-name>
 		<url-pattern>/addMan</url-pattern>
 	</servlet-mapping>
 	<servlet>
 		<servlet-name>SecondServ</servlet-name>
 		<servlet-class>com.Project10.Serv2</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>SecondServ</servlet-name>
 		<url-pattern>/sq</url-pattern>
 		</servlet-mapping>
</web-app>